/* Expandable toggle */
.expandable-section .toggle-expansion {
    border: 1px solid #333;
    border-left: none;
    border-top: none;
    height: 8px;
    left: -12px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.15s all ease;
    width: 8px;
}

.expandable-section .toggle-expansion > span { display: none; }

.expandable-section.expanded .toggle-expansion {
    margin-top: -6px;
    transform: rotate(45deg);
}
/* End Expandable toggle */


/* Expandable content */
.expandable-section {
    cursor: pointer;
}

.expandable-section {
    color: #555;
    margin-top: -1px;
    padding: 2px 5px;
    position: relative;
}

.expandable-section:hover,
.expandable-section.expanded { color: #222 }

.expandable-section + div { padding: 5px 0 0; }

.expandable-section + div:after { left: 10px; }
/* End expandable content */
