/* History / revision / attachment / comment items */
/* first and last item in activity wrapper shouldn't have a preceding history line */
.activity-wrapper > div:first-child,
.activity-wrapper > div:first-child > div:first-child > div:first-child { margin-top: 0; }

.activity-wrapper > div:first-child:before,
.activity-wrapper > div:first-child > div:first-child > div:first-child:before,
.activity-wrapper > div:first-child > div.add-comment:before {
    width: 0;
    height: 0;
}

.activity-wrapper > div:last-child > div + div:after {
    width: 0;
    height: 0;
}

.attachment,
.comment {
    background: #FFF;
    border-radius: 6px;
    border: 1px solid #CCC;
    color: #222;
    margin: 40px 0;
    max-width: 1000px;
    position: relative;
    transition: all 0.1s ease;
}

.attachment:before,
.comment:before,
.add-comment:before,
.attachment:after,
.comment:after,
.activity-wrapper .expandable-section + div:after {
    background: #CCC;
    bottom: -41px;
    content: '';
    height: 40px;
    left: 20px;
    position: absolute;
    width: 2px;
}

.attachment:before,
.add-comment:before,
.comment:before {
    bottom: 0;
    top: -41px;
}

.add-comment:before {
    top: -40px;
    left: 21px;
}

.attachment:hover .attachment-header {
    background: #E8E8E8;
}

.revision-header,
.attachment-header,
.comment-header {
    border-radius: 5px 5px 0 0;
    transition: all 0.1s ease;
}

.attachment-header,
.comment-header {
    background: #EAEAEA;
    border-bottom: 1px solid #CCC;
}

.revision-date,
.attachment-date,
.comment-date {
    border-right: 1px solid #CCC;
    display: inline-block;
    font-weight: 600;
    padding: 6px 12px 6px 8px;
    width: 120px;
}

.revision-date {
    background-color: #F1F1F1;
    border-right-color: #D0D0D0;
    padding: 4px 12px 4px 8px;
}

.revision-author,
.attachment-author,
.comment-author {
    display: inline-block;
    float: right;
    overflow: hidden;
    padding: 6px 8px 6px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 130px);
}

.revision-author { padding: 4px 8px 4px 0; }

.attachment-details,
.comment-details {
    padding: 14px 6px;
    word-break: break-word;
}
/* end history items */


/* Expandable activity toggle */
.activity-wrapper .expandable-section .toggle-expansion {
    border: none;
    height: 10px;
    left: -15px;
    margin-top: -5px;
    opacity: 0.15;
    position: absolute;
    top: 50%;
    transition: 0.15s all ease;
    transform: rotate(0deg);
    width: 10px;
}

.activity-wrapper .expandable-section:hover .toggle-expansion,
.activity-wrapper .expandable-section.expanded .toggle-expansion { opacity: 1; }

.activity-wrapper .expandable-section .toggle-expansion > span:first-child,
.activity-wrapper .expandable-section .toggle-expansion > span:last-child {
    background: #656565;
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    width: 1px;
}

.activity-wrapper .expandable-section .toggle-expansion > span:last-child {
    transform: rotate(90deg);
}

.activity-wrapper .expandable-section.expanded .toggle-expansion {
    transform: rotate(45deg);
}
/* End Expandable activity toggle */


/* Expandable activity content */
.activity-wrapper .expandable-section {
    cursor: pointer;
}

.activity-wrapper .expandable-section {
    border: 1px solid #E2E2E2;
    color: #555;
    margin-top: -1px;
    max-width: 1000px;
    padding: 0;
    position: relative;
}

.activity-wrapper .expandable-section:hover,
.activity-wrapper .expandable-section.expanded {
    background: #FFF;
    border-color: #A9A9A9;
    border-top-width: 1px;
    color: #222;
    z-index: 1;
}

.activity-wrapper .expandable-section + div {
    background: #FFF;
    border: 1px solid #E2E2E2;
    border-top: none;
    margin: 0 auto 0 10px;
    max-width: 980px;
    padding: 8px 6px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
}

.activity-wrapper .expandable-section + div:after {
    left: 10px;
}
/* End expandable activity content */
