/* Put global styles here. 
Style for individual pages should go in the individual *.vue files
*/

.errorMessage {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

a,
a:hover {
    text-decoration: none !important;
    transition: all 0.25s ease;
}

a { border-bottom: 1px solid #CCC; }
a:hover { border-color: #222; }

.user-img { max-width: 50px; }

