<!DOCTYPE html>
<html lang="en">
    <head>
        <title> - XXX</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
        <meta name="Description" content="XXX">

<!--
        <link rel="shortcut icon" type="image/x-icon" href="xxximages/favicon.ico" />
-->        

<!-- TODO-mrc: probably include these via ts instead -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

        <!-- Google Analytics 
        // TODO-mrc
        -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXX"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-XXXXXXXX');
        </script>

    </head>

    <body>
        <div id="app">
                <p>Loading..</p>
        </div>

        <script src="../assets/main.ts"></script>

    </body>
</html>
