<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ralliotta - The friendly UI for Rally(TM)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
        <meta name="Description" content="An alternative view into your existing Rally (rallydev.com) account. Experience the friendly web UI that will making working with your existing Rally data pleasing at last!">

        <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6235473-6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6235473-6');
        </script>

    </head>

    <body>
        <div id="app">
                <p>Loading..</p>
        </div>

        <script src="../assets/main.ts"></script>

    </body>
</html>
